# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# bloop and metals
.bloop
.bsp
.metals

# scala 3
.tasty

# vs code
.vscode

# sbt
# (may want to keep parts of 'project')
bin/
target/
build/

# eclipse
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class